/*.pstyle{
    background-color: darkgrey;
    color: black;
    border: 3px solid darkblue; 
}
.text{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: larger;  
}*/
.center{
    border: 3px solid black;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
}
